<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/main-styles")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header id="up" >
        <nav id="site-header" class="navbar ">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                    <div class="d-inline-block">
                        <img src="@Url.Content("~/Images/Logo.gif")" height="55" class="d-inline-block" />
                    </div>
                    <div class="d-inline-block">
                        <h2 id="site-name" class="text-center">MUSTANGS</h2>
                    </div>
                </a>
            </div>
        </nav>
    </header>
    <main id="main"  class=" container">
        <div class="row">
            <aside id="aside" class="col-md-3 col-sm-3">
                <nav class="nav nav-tabs text-center my-nav">
                    <div class="nav-item my-nav-item">
                        <a class="nav-link link" href="@Url.Action("Index","Home")">Главная</a>
                    </div>
                    <div class="nav-item my-nav-item">
                        <a class="nav-link link" href="@Url.Action("Reviews","Home")">Гостевая</a>
                    </div>
                    <div class="nav-item my-nav-item">
                        <a class="nav-link link" href="@Url.Action("Answers","Home")">Анкета</a>
                    </div>
                    <div class="nav-item my-nav-item">
                        <a class="nav-link link" href="@Url.Action("Create","Home")">Предложить</a>
                    </div>
                </nav>
                <hr class="text-light" />
                <div>
                    @RenderSection("Votes", required: false)
                </div>
            </aside>

            <article class="col-md-9 col-sm-9 order-md-first order-lg-first">
                @RenderBody()
            </article>
        </div>
    </main>
    <footer id="footer" class="container-fluid card-footer">
        <div class="row">
            <div class=" col-6  align-text-bottom">
                <p>&copy; Copyright. Vitaliy Slyva @System.DateTime.Now.Year</p>
            </div>
            <div class="col-6 text-right">
                <a href="#up" class="btn btn-success">
                    <span>
                        UP
                    </span>
                </a>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
